# Base de datos PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=secreto123
POSTGRES_DB=moodle_db

# Moodle
MOODLE_USERNAME=admin
MOODLE_PASSWORD=Admin1234!

# (No modificar en desarrollo local — los servicios se comunican por nombre de contenedor)
# IA_SERVICE_URL=http://backend-ia:8000
# VITE_API_URL=http://localhost:8081
